<div class="col-xs-12">
  <form class="form" [formGroup]="formGroup!" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input
          formControlName="name"
          type="text"
          id="name"
          class="form-control"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="kocka">Kocka</label>
        <input
          formControlName="kocka"
          type="text"
          id="kocka"
          class="form-control"
          name="kocka"
        />
      </div>
      <div class="form-group">
        <label for="url">Url</label>
        <input
          formControlName="url"
          type="text"
          id="url"
          class="form-control"
          name="url"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="tw-bg-black tw-font-bold tw-text-white tw-p-2 tw-rounded-xl hover:tw-bg-white hover:tw-text-black tw-border-2 hover:tw-border-solid hover:tw-border-black tw-my-6 tw-text-center"
      >
        HAOJ
      </div>
      <div class="form-group">
        <button
          type="submit"
          name="danger"
          class="btn btn-primary form-control"
        >
          POST
        </button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="form-group">
      <button
        (click)="onFajrung()"
        type="button"
        name="danger"
        class="btn btn-danger form-control"
      >
        GET
      </button>
    </div>
    <div>
      <div *ngFor="let product of products">
        <h1>{{ product.name }}</h1>
        <img class="img-responsive" [src]="product.url" [alt]="product.url" />
        <div>{{ product.kocka }}</div>
      </div>
    </div>
  </div>
</div>
