<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="editForm" (ngSubmit)="onSubmitForm()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            formControlName="nameInput"
            type="text"
            id="name"
            class="form-control"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amountInput">Amount</label>
          <input
            formControlName="amountInput"
            type="number"
            id="amountInput"
            class="form-control"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span *ngIf="!editForm.valid && editForm.touched"
            >Vyplň formulář pořádně, troubo!</span
          >
        </div>
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!editForm.valid"
          >
            {{ this.editMode ? "Update" : "Add" }}
          </button>
          <button
            *ngIf="editMode"
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button class="btn btn-primary" type="button" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
